@page
@model MyAirportRazor.DeleteModelVol

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vol</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.cie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.cie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.lig)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.lig)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.dhc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.dhc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.pkg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.pkg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.imm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.imm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.pax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.pax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.des)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.des)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vol.VolId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
